/* Estilos gerais */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../assets/images/fundo_site.jpg");
  margin: 0;
  padding: 20px;
  color: #333;
}

/* Estilos do Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
header h1 {
  font-size: 3rem;
  color: #d2691e;
  margin-bottom: 0.2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

header p {
  font-size: 1.2rem;
  color: #8b5e3c;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* Estilo do Logo */
#logo_pagina {
  position: absolute;
  width: 250px;
  margin-left: 650px;
}

#menu {
  max-width: 900px;
  margin: 0 auto;
}

#endereco{
text-align: center;
}

#menu_h2 {
  text-align: center;
  font-size: 2.3rem;
  border-bottom: 3px solid #d2691e;
  padding-bottom: 10px;
  margin: 0 20px;
  flex-grow: 1;
}

#centro {
  text-align: center;
}

#folha {
  background-color: #fff8e1; /* cor da folha (bege) */
  width: 800px; /* largura da “folha” */
  min-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  padding: 40px;
  justify-self: center;
}

/* Estilo dos Menus */
.menu-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-card {
  background-color: #fff;
  border: 2px solid #d2691e;
  border-radius: 10px;
  width: 260px;
  box-shadow: 2px 2px 8px rgba(210, 105, 30, 0.4);
  transition: box-shadow 0.3s ease;
  padding: 15px;
}

.menu-card:hover {
  box-shadow: 4px 4px 15px rgba(210, 105, 30, 0.7);
}

.menu-card h3 {
  margin-top: 0;
  color: #a0522d;
}

.menu-card p.description {
  font-size: 1rem;
  min-height: 40px;
  color: #000000;
}

.menu-card .price {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #d2691e;
}

/*Estilo dos Carrosseis*/
.carrossel {
  width: 90%;
  max-width: 600px; /* ajuste o tamanho geral */
  margin: 0 auto 30px auto; /* centraliza */
  position: relative;
  overflow: hidden;
  border-radius: 90px;
}

.carrossel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.carrossel img {
  width: 100%;
  height: 300px; /* altura fixa */
  object-fit: cover; /* mantém bonito SEM distorção */
  flex-shrink: 0;
}

.carrossel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/*Botão Whatsapp e Instagram*/
.btn-whatsapp {
  display: inline-block;
  padding: 12px 20px;
  background-color: #21e087;
  color: rgb(23, 54, 22);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-whatsapp:hover {
  background-color: #03ca6d;
}

.btn-instagram {
  display: inline-block;
  padding: 12px 20px;
  background-color: #ff4f70;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-instagram:hover {
  background-color: #d63a54;
}
